// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than mobile
@include mq('phone')	{
	.logo {
		width: 60px;
		height: 60px;
	}

	h1 {
		font-size: 5rem;
	}
}

// Larger than phablet
@include mq('phablet')	{	
	.room-name {
		width: 100%;
		min-width: 300px;
		max-width: 675px;
	}
}

// Larger than tablet
@include mq('tablet')	{
	
}
// Larger than desktop
@include mq('desktop')	{	
}
// Larger than Desktop HD
@include mq('desktop-xl')	{	
}